*.json
*.pth
*.ipynb
*.txt
*.o
*.dSYM
*.csv
*.out
*.jpg
*.pyc

datasets
datasets*
datasets/*
checkpoints
checkpoints*
checkpoints/*

runs
runs*
runs/*
log
log*
log/*

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.swo
*.sw*
*.weight
*.nfs*
__pycache__